<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>onion</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>PLUG uses Bluetooth to communicate with your Ledger Nano X</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>PLUG uses Bluetooth to communicate with your Ledger Nano X</string>
	<key>NSCameraUsageDescription</key>
	<string>PLUG uses the camera to scan QR codes for swap offers and Bitcoin addresses</string>
</dict>
</plist>
